@page "/locations"
@inherits LocationListBase

<h3>LocationList</h3>

@if (locations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary float-right"><i class="fas fa-plus-circle"></i></button>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var location in locations)
                        {
                            <tr>
                                <td>@location.Id</td>
                                <td>@location.Name</td>
                                <td>
                                    <i class="fas fa-pen"></i>
                                </td>
                                <td>
                                    <i class="fas fa-trash"></i>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    }
