@page "/productadd"
@inherits ProductAddBase

<h3>Product Add</h3>

<form>
    <div class="form-group">
        <label for="productBarcode">Product Barcode</label>
        <input type="text" class="form-control" id="productBarcode" placeholder="Enter Product Barcode">
    </div>
    <div class="form-group">
        <label for="productName">Product Name</label>
        <input type="text" class="form-control" id="productName" placeholder="Enter Product Name">
    </div>
    <div class="form-group">
        <label for="productDescription">Product Description</label>
        <input type="text" class="form-control" id="productDescription" placeholder="Enter Product Description">
    </div>
    <div class="form-group">
        <label for="productAlertQuantity">Product Alert Quantity</label>
        <input type="text" class="form-control" id="productAlertQuantity" placeholder="Enter Product Alert Quantity">
    </div>
    <div class="form-group">
        <label for="productTags">Tags</label>
        <input type="text" class="form-control" id="productTags" placeholder="Enter Tags">
    </div>
    <div class="form-group">
        <label for="tenant">Tenant</label>
        <input type="text" class="form-control" id="tenant" placeholder="Enter Tenant">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>