@{
    ViewData["Title"] = "Products Page";
    int rowIndex = 0;
}
@model IEnumerable<StockIt.Core.Repositories.Product.Product>

<div class="text-center">
    <h1 class="display-4">Products</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Barcode</th>
                <th>Tags</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@(rowIndex = rowIndex + 1)</th>
                    <td>@item.Barcode</td>
                    <td>@item.Name</td>
                    <td>@string.Join(',', item.Tags)</td>
                    <td><a href="#">Edit</a></td>
                    <td><a href="#">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>    
</div>
